@import "tailwindcss";


/* root colors */
:root{
  --primary-color: #1469ff;
}
/* font */
body {
  font-family: var(--font-poppins), sans-serif;
}

/* header */
.navLinks .active{
  border-bottom: 2px solid #5142c6;
  color: #000
}
.container{
  max-width: 1200px;
  margin: auto;
  margin-top: 0;
  padding: 0 .5rem;
}
header .search svg{
  fill: #7c828f
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

