@import "tailwindcss";

/* header */
.navLinks .active{
  border-bottom: 2px solid #5142c6;
  color: #000
}
.container{
  max-width: 1200px;
  margin: auto;
  margin-top: 0;
}
header .search svg{
  fill: #7c828f
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

